<div class="window">
  <h1>Login</h1>
  <div class="session">
    <p id="alert"><%= alert %></p>
    <%= form_tag sessions_path do %>
      <div class="log">
        <%= label_tag :email %>
      </div>
      <div class="log">
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="log">
        <%= label_tag :password %>
      </div>
      <div class="log">
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
  <% end %>
</div>
