<div class="container">
  <div class="edit">
    <h1>Edit user</h1>
    <%= bootstrap_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Hmmmm, something's wrong with your entry</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :initials %>
      <%= f.text_field :email %>
      <%= f.date_select :born_on, order: [:month, :day, :year], start_year: 1910 %>
      <%= f.text_field :machines_owned %>
      <%= f.text_field :password %>
      <%= f.text_field :password_confirmation %>
      <div class="actions"><%= f.submit %></div>
    <% end %>
    <% if current_user == nil %>
      <p></p>
    <% elsif @user == current_user || is_admin %>
      <p><%= link_to "Delete user!", user_path, method: :delete, data: { confirm: "Are you sure you want to delete?"}, :class => "link" %></p>
    <% end %>
    <p><%= link_to "back to main user page", users_path, :class => "link" %></p>
  </div>
</div>
