<div class="container">
  <div class="edit">
    <h1>Sign Up</h1>
    <%= bootstrap_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Hmmmm, something's wrong with your entry</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :initials %>
      <%= f.text_field :email %>
      <%= f.date_select :born_on, order: [:month, :day, :year], start_year: 1910 %>
      <%= f.text_field :machines_owned %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <div class="actions"><%= f.submit %></div>
    <% end %>
  </div>
</div>
