<div class="col-sm-6 col-sm-offset-1" id="edit">
  <h1>Edit this rumor!</h1>
  <%= bootstrap_form_for @rumor do |f| %>
    <% if @rumor.errors.any? %>
      <div class="error_messages">
        <h2>Hmmmm, something's wrong with your post</h2>
        <ul>
          <% for message in @classified.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.text_area :body_text, as: :textarea, class: "form-control",rows: "5" %>
    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
  <% if current_user == nil %>
    <p></p>
  <% elsif @rumor.user_id == current_user.id || is_admin %>
    <p><%= link_to "Delete post!", rumor_path, method: :delete, data: { confirm: "Are you sure you want to delete?"}, :class => "link" %></p>
  <% end %>
  <p><%= link_to "back to main rumor page", rumor_path, :class => "link" %></p>
</div>
