<h1>Rumors!</h1>

<h3><%= link_to "Start a new rumor!", new_rumor_path %></h3>

<ul class="rumor">
  <% @rumors.each do |rumor| %>
    <li>
      <p><%= rumor.title %></p>
      <p><%= rumor.body_text %></p>
    </li>
      <% if current_user == nil %>
        <p></p>
      <% elsif rumor.user_id == current_user.id || is_admin %>
       <p><%= link_to "Edit", edit_rumor_path(rumor), :class => "link" %> <%= link_to 'Delete', rumor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %></p>
    <% end %>
  <% end %>
</ul>


