<h1>Rumors!</h1>

<h3><%= link_to "Start a new rumor!", new_rumor_path %></h3>

<ul class="rumor">
  <% @rumors.each do |rumor| %>
    <li>
      <p><%= rumor.title %></p>
      <p><%= rumor.body_text %></p>
    </li>
      <% if is_admin %>
       <p><%= link_to "Edit", edit_rumor_path(rumor) %> <%= link_to 'Delete', rumor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  <% end %>
</ul>

<!-- rumor.user_id == current_user.id || -->
