<h1> Review your rumor! </h1>

<ul class="rumor">
  <li>
    <p><strong><%= @rumor.title %></strong></p>
    <p><%= @rumor.body_text %></p>
  </li>
</ul>


<% if @rumor.user_id == current_user.id || current_user.admin? %>
  <p><%= link_to "This rumor is full of lies! Edit!", edit_rumor_path %></p>
  <p><%= link_to "This rumor is just outright wrong! Delete!", rumor_path, method: :delete, data: { confirm: "Are you sure you want to delete this terrible tweet?"} %></p>
<% end %>

<p><%= link_to "I love it!! Take me to the rumors", rumors_path %></p>
