<div class="container">

<div class="row">
  <div class="col-sm-6" id="mini_classifieds">
    <h2>What's new in classifieds</h3>
    <p><%= link_to "See all classifieds", classifieds_path %></p>
    <div id="classified_headlines">
      <% @classifieds.limit(10).each do |classified| %>
        <div class="short_classified">
          <%= classified.post_type %> : <%= classified.machine_name %>
        </div>
      <% end %>
    </div>
  </div>



  <div class="col-sm-6 col-sm-offset-1" id="news">
  <h2>Rumor Roundup!</h2>
  <p><%= link_to "See all rumors", rumors_path %></p>
    <div id="rumor_headlines">
      <% @rumors.limit(4).each do |rumor| %>
        <div id="article">
          <p class="lead"><%= rumor.title %></p>
          <p><%= rumor.body_text %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>












