<div class="container">
  <div class="edit">
    <%= bootstrap_form_for @classified, html: { multipart: true } do |f| %>
      <% if @classified.errors.any? %>
        <div class="error_messages">
          <h2>Hmmmm, something's wrong with your post</h2>
          <ul>
            <% for message in @classified.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :post_type %>
      <%= f.text_field :machine_name %>
      <%= f.text_area :body_text, as: :textarea, class: "form-control",rows: "5" %>
      <%= f.text_field :condition %>
      <%= f.text_field :price %>
      <%= f.text_field :location %>
      <%= f.file_field :image_one_url, as: :file  %>
      <%= f.file_field :image_two_url, as: :file  %>
    <% end %>
    <p><%= link_to "Delete post!", classified_path, method: :delete, data: { confirm: "Are you sure you want to delete?"}, :class => "link" %></p>
    <p><%= link_to "back to main user page", classifieds_path, :class => "link" %></p>
  </div>
</div>
