<h1>Classifieds!</h1>

<h3><%= link_to "Make a new classified ad!", new_classified_path %></h3>

<ul class="classified">
  <% @classifieds.each do |classified| %>
    <li>
        <p><%= classified.post_type %> | <%= classified.machine_name %></p>
        <p><img class ="pic" src="<%= classified.photo_one_url %>"><img class="pic" src="<%= classified.photo_two_url %>"></p>
        <p><%= classified.body_text %></p>
        <p><%= classified.condition %> | <%= classified.location %> | <%= classified.price %></p>
        <p>contact me at: <%= classified.email %></p>
    </li>
   <% if classified.user_id == current_user.id || is_admin %>
        <p><%= link_to "show", classified_path(classified) %><%= link_to "Edit", edit_classified_path(classified) %> <%= link_to 'Delete', classified, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  <% end %>
</ul>
