
<div class="col-sm-8 col-sm-offset-2" id="classified_index">
<h1 class="group_title">Classifieds!</h1>
<h3 class="group_title"><%= link_to "Make a new classified ad!", new_classified_path %></h3>
  <% @classifieds.each do |classified| %>
    <div id="c_index_each">
        <p class="lead"><%= classified.post_type %> | <%= classified.machine_name %></p>
        <p><img class ="pic" src="<%= classified.image_one_url(:thumb) %>"><img class="pic" src="<%= classified.image_two_url(:thumb) %>"></p>
        <p><%= classified.body_text %></p>
        <p>Condition: <%= classified.condition %> | Location: <%= classified.location %> | Price: <%= classified.price %></p>
        <p>contact me at: <a href="mailto:<%= classified.email %>" class="link"><%= classified.email %></a></p>
    </div>
      <% if current_user == nil %>
        <p></p>
      <% elsif classified.user_id == current_user.id || is_admin %>
        <p><%= link_to "Show ", classified_path(classified), :class => "link" %><%= link_to "Edit", edit_classified_path(classified), :class => "link" %> <%= link_to 'Delete', classified, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %></p>
      <% end %>
    <% end %>
</div>


